aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
discord==1.0.1
discord.py==1.6.0
fuzzywuzzy==0.18.0
idna==2.8
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
multidict==4.7.4
numpy==1.18.5
pygame==1.9.6
pygame-gui==0.5.7
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.1
requests==2.22.0
scipy==1.5.0
six==1.14.0
soupsieve==1.9.5
spotipy==2.12.0
urllib3==1.25.8
webencodings==0.5.1
websockets==8.1
yarl==1.4.2